body {
    background: url("https://www.wuwm.com/sites/wuwm/files/styles/x_large/public/201907/AdobeStock_143932362.jpeg");
}

.whalebody1 {
     width: 900px;
     height: 200px;
     border-radius: 120% 80% 40% 1000%;
     background-color: rgb(155, 155, 155);
    position: absolute;
    left: 20%;
    top:  35%; 
     }

.fin {
    width: 220px;  
    height: 70px;
    border-radius: 900% 500% 700% 5000%;
    border: solid rgb(128, 122, 122);
    background-color: rgb(155, 155, 155);
    position: relative;
    left: 40%;
    top: 40%;
}


.eye {
    width: 20px;
    height: 10px;
    border-radius: 40% 30% 100% 10%;
    background-color: black;
    position: relative;
   left: 90%;
   top:  20%;
   
}

.innereye {
    width: 3px;
    height: 5px;
    border-radius: 40% 30% 100% 10%;
    background-color: white;
    position: relative;
   left: 90%;
   top:  17%;
}

.mouth {
    width: 155px;
    height: 15px;
    border-radius: 40% 30% 100% 2200%;
    background-color: black;
    position: relative;
   left: 82.8%;
   top:  37%;
}

#tooth1 {
    width: 4px;
    height: 7px;
    border-radius: 200000% 200000% 10% 10%;
    background-color: white;
    position: relative;
   left: 98.5%;
   top:  33%;
}

#tooth2 {
    width: 4px;
    height: 7px;
    border-radius: 200000% 200000% 10% 10%;
    background-color: white;
    position: relative;
   left: 95.5%;
   top:  29.4%;
}

#tooth3 {
    width: 4px;
    height: 5px;
    border-radius: 200000% 200000% 10% 10%;
    background-color: white;
    position: relative;
   left: 91.5%;
   top:  26.4%;
}
#tooth4{
    width: 4px;
    height: 5px;
    border-radius: 200000% 200000% 10% 10%;
    background-color: white;
    position: relative;
   left: 87.5%;
   top:  22.8%;
}

#tooth5{
    width: 4px;
    height: 7px;
    border-radius: 10% 10% 200000% 200000%;
    background-color: white;
    position: relative;
   left: 97%;
   top:  17.7%;
}
#tooth6{
    width: 4px;
    height: 6px;
    border-radius: 10% 10% 200000% 200000%;
    background-color: white;
    position: relative;
   left: 93.4%;
   top:  14.7%;
}

#tooth7{
    width: 4px;
    height: 5px;
    border-radius: 10% 10% 200000% 200000%;
    background-color: white;
    position: relative;
   left: 89.4%;
   top:  10.7%;
}

.blowhole{
    width: 30px;
    height: 20px;
    border-radius: 150% 150% 150% 150%;
    background-color: rgb(68, 64, 64);
    position: relative;
   left: 80%;
   bottom: 74%;
}

.tailfin {
    width: 40px;  
    height: 200px;
    border-radius: 0% 100% 100% 0%;
    border: solid rgb(146, 145, 145);
    background-color: rgb(141, 137, 137);
    position: relative;
    left: -5%;
    bottom: 122%;
}
